In [3]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

# load data from CSV
data = pd.read_csv(r'C:\Users\21ad058\Downloads\Iris.csv')
print("THe first 5 values of data is :\n",data.head())

In [4]:
# obtain Train data and Train output
X = data.iloc[:,:-1]
print("\nThe First 5 values of train data is\n",X.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
y = data.iloc[:,-1]
print("\nThe first 5 values of Train output is\n",y.head())

The first 5 values of Train output is
 0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [25]:
le_SepalLengthCm = LabelEncoder()
X. SepalLengthCm = le_SepalLengthCm.fit_transform(X.SepalLengthCm)

le_SepalWidthCm = LabelEncoder()
X.SepalWidthCm  = le_SepalWidthCm .fit_transform(X.SepalWidthCm )

le_PetalLengthCm  = LabelEncoder()
X.PetalLengthCm = le_PetalLengthCm .fit_transform(X.PetalLengthCm )

le_PetalWidthCm= LabelEncoder()
X.PetalWidthCm= le_PetalWidthCm.fit_transform(X.PetalWidthCm)

print("\nNow the Train data is :\n",X.head())

Now the Train data is :
    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1              8            14              4             1
1   2              6             9              4             1
2   3              4            11              3             1
3   4              3            10              5             1
4   5              7            15              4             1

In [26]:
le_PlayTennis = LabelEncoder()
y = le_PlayTennis.fit_transform(y)
print("\nNow the Train output is\n",y)

Now the Train output is
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20)

classifier = GaussianNB()
classifier.fit(X_train,y_train)

from sklearn.metrics import accuracy_score
print("Accuracy is:",accuracy_score(classifier.predict(X_test),y_test))

Accuracy is: 1.0