<a href="https://colab.research.google.com/github/Uma1709/Machine_learning/blob/main/ML_exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import neccessary libraries

import pandas as pd
import numpy as np

In [ ]:
#import the dataset

df = pd.read_csv(r"C:\Users\21ad016\Desktop\ML\Datasets\Text_classification\train.csv\train.csv")
df.head(10)

       Id                                            Comment      Topic
0   0x840  A few things. You might have negative- frequen...    Biology
1   0xbf0  Is it so hard to believe that there exist part...    Physics
2  0x1dfc                                     There are bees    Biology
3   0xc7e  I'm a medication technician. And that's alot o...    Biology
4   0xbba                     Cesium is such a pretty metal.  Chemistry
5   0xb39       I meant that the question itself is unclear.  Chemistry
6  0x1f3d          Shove it up your ass and see what happens    Biology
7   0x531  ??? I mean it has some butter, but besides tha...  Chemistry
8   0xe05             https://t.me/joinchat/3gElLHLuMCxhNGI0    Biology
9  0x2148  Well, that’s just the thing. You can’t really ...    Biology

In [ ]:
#check for null values

df.isnull().sum()

Id         0
Comment    0
Topic      0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8695 entries, 0 to 8694
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       8695 non-null   object
 1   Comment  8695 non-null   object
 2   Topic    8695 non-null   object
dtypes: object(3)
memory usage: 203.9+ KB

In [ ]:
df.describe()

           Id    Comment    Topic
count    8695       8695     8695
unique   8695       7950        3
top     0x840  [removed]  Biology
freq        1        114     3591

In [ ]:
df = df.drop(['Id'],axis =1)

In [ ]:
df

                                                Comment      Topic
0     A few things. You might have negative- frequen...    Biology
1     Is it so hard to believe that there exist part...    Physics
2                                        There are bees    Biology
3     I'm a medication technician. And that's alot o...    Biology
4                        Cesium is such a pretty metal.  Chemistry
...                                                 ...        ...
8690  I make similar observations over the last week...    Biology
8691                                    You would know.    Biology
8692            Also use the correct number of sig figs  Chemistry
8693  What about the ethical delimmas,  groundbreaki...    Biology
8694                          I would like to know too.    Biology

[8695 rows x 2 columns]

In [ ]:
df['Comment'] = df['Comment'].apply(lambda x: x.lower())  # convert to lowercase
df['Comment'] = df['Comment'].str.replace('[^\w\s]','')

C:\Users\21ad016\AppData\Local\Temp\ipykernel_8640\409917833.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Comment'] = df['Comment'].str.replace('[^\w\s]','')

In [ ]:
train_size = int(len(df) * 0.8)
train_data = df[:train_size]
test_data = df[train_size:]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
vectorizer = TfidfVectorizer(stop_words='english')
X_train = vectorizer.fit_transform(train_data['Comment'])
X_test = vectorizer.transform(test_data['Comment'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(train_data['Topic'])
y_test = le.fit_transform(test_data['Topic'])

In [ ]:
y_train

array([0, 2, 0, ..., 1, 0, 2])

In [ ]:
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, y_train)

MultinomialNB()

In [ ]:
accuracy = nb_classifier.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.7055779183438758

In [ ]:
len(y_pred)

1739

In [ ]:
len(y_test)

1739

In [ ]:
from sklearn.metrics import precision_score, recall_score

# Predict labels for the test data
y_pred = nb_classifier.predict(X_test)

# Calculate precision and recall for each label
precision = precision_score(y_test, y_pred, average=None)
recall = recall_score(y_test, y_pred, average=None)

# Print the precision and recall values
print('Precision:', precision)
print('Recall:', recall)

Precision: [0.65841073 0.71268657 0.88461538]
Recall: [0.87517147 0.66900175 0.4715262 ]